# Simple ML Jump (STUDENT VERSION)
Billy Hau - June 29, 2022

- Data Cleaning / Feature Engineering / Modeling 
- Deployment

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt

In [2]:
# Read CSV File
df = pd.read_csv("./data.csv")
df

,Bar 1 Distance,Bar 1 Speed,Bar 2 Distance,Bar 2 Speed,Jump,Grounded,Dead,Scored
0,8.601720,14.010661,16.942482,14.598472,False,True,False,False
1,5.087775,14.010661,13.281113,14.598472,False,True,False,False
2,1.361419,14.010661,9.398420,14.598472,False,False,False,False
3,6.708690,14.598472,-1.000000,-1.000000,False,False,False,True
4,5.509425,14.598472,-1.000000,-1.000000,True,False,False,False
...,...,...,...,...,...,...,...,...
18475,24.097603,14.710280,40.975479,13.167240,False,True,False,False
18476,20.188541,14.710280,37.476463,13.167240,False,True,False,False
18477,16.491669,14.710280,34.167370,13.167240,False,True,False,False
18478,12.575330,14.710280,30.661840,13.167240,False,True,False,False
18479,8.647295,14.710280,27.145840,13.167240,False,True,False,False

In [3]:
# What do each of the columns mean?

In [4]:
df['Index'] = df.index
print(df['Index'])
jump = df[df['Jump'] == True]

dead = jump['Dead'].to_numpy()
# dead.value_counts()
for i in range(dead.shape[0]):
    #print(jump.index[i])
    try:
        if (dead[i + 1] == True):
            print(df['Index'])
            print(df['Index'] == jump.index[i])
            print(df[df.index == jump.index[i]].index)
            df.drop(df[df.index == jump.index[i]].index, inplace=True)
    except:
        pass
df

0            0
1            1
2            2
3            3
4            4
         ...
18475    18475
18476    18476
18477    18477
18478    18478
18479    18479
Name: Index, Length: 18480, dtype: int64
0            0
1            1
2            2
3            3
4            4
         ...
18475    18475
18476    18476
18477    18477
18478    18478
18479    18479
Name: Index, Length: 18480, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
18475    False
18476    False
18477    False
18478    False
18479    False
Name: Index, Length: 18480, dtype: bool
Int64Index([15944], dtype='int64')
0            0
1            1
2            2
3            3
4            4
         ...
18475    18475
18476    18476
18477    18477
18478    18478
18479    18479
Name: Index, Length: 18479, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
18475    False
18476    False
18477    False
18478    False
18479    False
Name: Index, Length: 18479, dtype: bool
Int64Index([16168], dtype='int64')
0            0
1            1
2            2
3            3
4            4
         ...
18475    18475
18476    18476
18477    18477
18478    18478
18479    18479
Name: Index, Length: 18478, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
18475    False
18476    False
18477    False
18478    False
18479    False
Name: Index, Length: 18478, dtype: bool
Int64Index([16300], dtype='int64')
0            0
1            1
2            2
3            3
4            4
         ...
18475    18475
18476    18476
18477    18477
18478    18478
18479    18479
Name: Index, Length: 18477, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
18475    False
18476    False
18477    False
18478    False
18479    False
Name: Index, Length: 18477, dtype: bool
Int64Index([16411], dtype='int64')
0            0
1            1
2            2
3            3
4            4
         ...
18475    18475
18476    18476
18477    18477
18478    18478
18479    18479
Name: Index, Length: 18476, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
18475    False
18476    False
18477    False
18478    False
18479    False
Name: Index, Length: 18476, dtype: bool
Int64Index([16626], dtype='int64')

,Bar 1 Distance,Bar 1 Speed,Bar 2 Distance,Bar 2 Speed,Jump,Grounded,Dead,Scored,Index
0,8.601720,14.010661,16.942482,14.598472,False,True,False,False,0
1,5.087775,14.010661,13.281113,14.598472,False,True,False,False,1
2,1.361419,14.010661,9.398420,14.598472,False,False,False,False,2
3,6.708690,14.598472,-1.000000,-1.000000,False,False,False,True,3
4,5.509425,14.598472,-1.000000,-1.000000,True,False,False,False,4
...,...,...,...,...,...,...,...,...,...
18475,24.097603,14.710280,40.975479,13.167240,False,True,False,False,18475
18476,20.188541,14.710280,37.476463,13.167240,False,True,False,False,18476
18477,16.491669,14.710280,34.167370,13.167240,False,True,False,False,18477
18478,12.575330,14.710280,30.661840,13.167240,False,True,False,False,18478
18479,8.647295,14.710280,27.145840,13.167240,False,True,False,False,18479

In [5]:
# Are there data we don't care about?
df.drop(df[df['Dead'] == True].index, inplace=True)
df = df.drop(["Grounded", "Dead", "Scored"], inplace=False, axis=1)
df

       Bar 1 Distance  Bar 1 Speed  Bar 2 Distance  Bar 2 Speed   Jump  Index
0            8.601720    14.010661       16.942482    14.598472  False      0
1            5.087775    14.010661       13.281113    14.598472  False      1
2            1.361419    14.010661        9.398420    14.598472  False      2
3            6.708690    14.598472       -1.000000    -1.000000  False      3
4            5.509425    14.598472       -1.000000    -1.000000   True      4
...               ...          ...             ...          ...    ...    ...
18475       24.097603    14.710280       40.975479    13.167240  False  18475
18476       20.188541    14.710280       37.476463    13.167240  False  18476
18477       16.491669    14.710280       34.167370    13.167240  False  18477
18478       12.575330    14.710280       30.661840    13.167240  False  18478
18479        8.647295    14.710280       27.145840    13.167240  False  18479

[17768 rows x 6 columns]

In [6]:
jumpCount = df[df['Jump'] == True].shape[0]
jumpCount

283

In [7]:
noJumpCount = df[df['Jump'] == False].shape[0]
noJumpCount

17485

In [8]:
df_toDrop = df[df['Jump'] == False].sample(noJumpCount - jumpCount)
df.drop(df_toDrop.index, inplace=True)

In [9]:
# Create the Input DataFrame
X = df[['Bar 1 Distance', 'Bar 1 Speed', 'Bar 2 Distance', 'Bar 2 Speed']]
X = X.to_numpy()

In [10]:
# Create the Output DataFrame and Map True / False to 1 / 0
Y = df[['Jump']]

def bool2Num(row):
    if row['Jump']:
        return 1
    else:
        return 0

Y['Jump'] = Y.apply(bool2Num, axis='columns')
Y = Y['Jump'].to_numpy()

/tmp/ipykernel_521317/808815421.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y['Jump'] = Y.apply(bool2Num, axis='columns')

In [11]:
# Train Test Split with test size set to 20%
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [12]:
from sklearn.linear_model import LogisticRegression

# Define and Build Model (Logistic Regression)
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier()

In [13]:
predict = model.predict(x_test)

In [14]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [15]:
# Print Out Prediction Accuraccy
accuracy_score(y_test, predict)

0.8663101604278075

In [16]:
# Try a Different Model (Random Forest)
"""model2 = ________________________________
model2.__________________________

predict = ___________________________
accuracy_score(_________________, ________________)"""

'model2 = ________________________________\nmodel2.__________________________\n\npredict = ___________________________\naccuracy_score(_________________, ________________)'

# Deployment

In [17]:
# Command to Open SIMPLE ML Jump 2 (for Example)

# Windows OS
#env_path = "D:\\User\\Desktop\\10botics Data Science\\ML Game\\SimpleMLJump2 Builds\\Windows\\Simple ML Jump 2.exe"

# MacOS
#env_path = 'open -n "/Users/billwaa/Desktop/ML Game/Simple ML Jump 2.app"' 

env_path = "/home/wcyat/dev/kaggle/code/ml-jump/Linux/SimpleMLJump2.x86_64"

In [18]:
# Import Libraries
import socket
import struct
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import time
import subprocess
import platform

# Find Open Socket Ports
def findOpenSockets(size:int):

    sock = []
    port = []

    for i in range(size):
        sock.append(socket.socket())
        sock[i].bind(('localhost', 0))
        port.append(sock[i].getsockname()[1])

    for i in range(len(sock)):
        sock[i].close()


    return port


# Find Open Ports and Launch Game Environment
envNum = 1
openPorts = findOpenSockets(envNum * 2)
gamePort = openPorts[0]
apiPort = openPorts[1]

# Determine OS and Launch 
if platform.system() == 'Darwin':
    env_path += f" --args --apiPort {str(apiPort)} --gamePort {str(gamePort)} --small false"
    process = subprocess.Popen([env_path], shell=True)
else:
    process = subprocess.Popen([env_path, '--apiPort', str(apiPort), '--gamePort', str(gamePort), '--small', 'false'])

# Establish UDP Network Client
localIP     = "localhost"
bufferSize  = 1024
UDPServerSocket = socket.socket(family=socket.AF_INET, type=socket.SOCK_DGRAM)
UDPServerSocket.bind((localIP, apiPort))

# Set UDP Timeout
UDPServerSocket.settimeout(3)

# Wait for Game Environment to Open
t0 = time.time()

while(time.time() - t0 < 5):
    pass

# Extract Data
def extractData(data):
    dist1 = struct.unpack('f', data[:4])
    speed1 = struct.unpack('f', data[4:8])
    dist2 = struct.unpack('f', data[8:12])
    speed2 = struct.unpack('f', data[12:16])

    onGround = True if (data[16] & (1 << 0)) == 1 else False
    toJump = True if (data[17] & (1 << 0)) == 1 else False
    isDead = True if (data[18] & (1 << 0)) == 1 else False
    scored = True if (data[19] & (1 << 0)) == 1 else False

    dat = [dist1[0], speed1[0], dist2[0], speed2[0], toJump, onGround, isDead, scored] # Swap Order to Accomadate Old Model
    df_temp = pd.DataFrame(dat).transpose()


    return df_temp

# Reset Simulation
UDPServerSocket.sendto(bytes.fromhex('07 00'), (localIP, gamePort))

2022-07-10 14:43:32.950074: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.

2

In [19]:
def autoJump():
# Process Loop - Retrieve Data from Simulation, Run Through Model, Output Command
    while True:
        try:

            bytesAddressPair = UDPServerSocket.recvfrom(bufferSize)

            t0 = time.time()

            message = bytesAddressPair[0]
            address = bytesAddressPair[1]
            df_temp = extractData(message)
            X = df_temp.iloc[:, :4]
            X = X.astype(float)

        # Data PreProcessing Function Go Here

        # Model Prediction Function Go Here
            predict = model.predict(X)

            print(predict, end='\r')

        # If Jump Decision is Made, Send to Game
            if predict[0] > 0.5:
            # Jump Command
                UDPServerSocket.sendto(bytes.fromhex('06 01'), (localIP, gamePort))


        except Exception as e:
            print(e)
            break

In [20]:
autoJump()

timed out

In [21]:
# Close UDP Port When Game is Closed
UDPServerSocket.close()