# Simple ML Jump (STUDENT VERSION)
Billy Hau - June 29, 2022

- Data Cleaning / Feature Engineering / Modeling 
- Deployment

In [101]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt

In [102]:
# Read CSV File
df = pd.read_csv("./data.csv")
df

,Bar 1 Distance,Bar 1 Speed,Bar 2 Distance,Bar 2 Speed,Jump,Grounded,Dead,Scored
0,-1.000000,-1.000000,-1.000000,-1.000000,False,True,True,False
1,38.196301,15.261410,-1.000000,-1.000000,False,True,True,False
2,34.373650,15.261410,-1.000000,-1.000000,False,True,True,False
3,30.305191,15.261410,41.488136,15.499226,False,True,True,False
4,26.230925,15.261410,37.350384,15.499226,False,True,True,False
...,...,...,...,...,...,...,...,...
6390,10.741413,16.315287,-1.000000,-1.000000,False,True,True,False
6391,6.656005,16.315287,-1.000000,-1.000000,False,True,True,False
6392,2.300749,16.315287,-1.000000,-1.000000,False,True,True,False
6393,-1.000000,-1.000000,-1.000000,-1.000000,False,True,True,False
6394,40.372272,16.314571,-1.000000,-1.000000,False,True,True,False

In [103]:
# What do each of the columns mean?

In [104]:
df['Index'] = df.index
print(df['Index'])
jump = df[df['Jump'] == True]

dead = jump['Dead'].to_numpy()
# dead.value_counts()
for i in range(dead.shape[0]):
    #print(jump.index[i])
    try:
        if (dead[i + 1] == True):
            print(df['Index'])
            print(df['Index'] == jump.index[i])
            print(df[df.index == jump.index[i]].index)
            df.drop(df[df.index == jump.index[i]].index, inplace=True)
    except:
        pass
df

0          0
1          1
2          2
3          3
4          4
        ...
6390    6390
6391    6391
6392    6392
6393    6393
6394    6394
Name: Index, Length: 6395, dtype: int64
0          0
1          1
2          2
3          3
4          4
        ...
6390    6390
6391    6391
6392    6392
6393    6393
6394    6394
Name: Index, Length: 6395, dtype: int64
0       False
1       False
2       False
3       False
4       False
        ...
6390    False
6391    False
6392    False
6393    False
6394    False
Name: Index, Length: 6395, dtype: bool
Int64Index([329], dtype='int64')
0          0
1          1
2          2
3          3
4          4
        ...
6390    6390
6391    6391
6392    6392
6393    6393
6394    6394
Name: Index, Length: 6394, dtype: int64
0       False
1       False
2       False
3       False
4       False
        ...
6390    False
6391    False
6392    False
6393    False
6394    False
Name: Index, Length: 6394, dtype: bool
Int64Index([409], dtype='int64')
0          0
1          1
2          2
3          3
4          4
        ...
6390    6390
6391    6391
6392    6392
6393    6393
6394    6394
Name: Index, Length: 6393, dtype: int64
0       False
1       False
2       False
3       False
4       False
        ...
6390    False
6391    False
6392    False
6393    False
6394    False
Name: Index, Length: 6393, dtype: bool
Int64Index([3988], dtype='int64')
0          0
1          1
2          2
3          3
4          4
        ...
6390    6390
6391    6391
6392    6392
6393    6393
6394    6394
Name: Index, Length: 6392, dtype: int64
0       False
1       False
2       False
3       False
4       False
        ...
6390    False
6391    False
6392    False
6393    False
6394    False
Name: Index, Length: 6392, dtype: bool
Int64Index([4859], dtype='int64')
0          0
1          1
2          2
3          3
4          4
        ...
6390    6390
6391    6391
6392    6392
6393    6393
6394    6394
Name: Index, Length: 6391, dtype: int64
0       False
1       False
2       False
3       False
4       False
        ...
6390    False
6391    False
6392    False
6393    False
6394    False
Name: Index, Length: 6391, dtype: bool
Int64Index([4915], dtype='int64')

,Bar 1 Distance,Bar 1 Speed,Bar 2 Distance,Bar 2 Speed,Jump,Grounded,Dead,Scored,Index
0,-1.000000,-1.000000,-1.000000,-1.000000,False,True,True,False,0
1,38.196301,15.261410,-1.000000,-1.000000,False,True,True,False,1
2,34.373650,15.261410,-1.000000,-1.000000,False,True,True,False,2
3,30.305191,15.261410,41.488136,15.499226,False,True,True,False,3
4,26.230925,15.261410,37.350384,15.499226,False,True,True,False,4
...,...,...,...,...,...,...,...,...,...
6390,10.741413,16.315287,-1.000000,-1.000000,False,True,True,False,6390
6391,6.656005,16.315287,-1.000000,-1.000000,False,True,True,False,6391
6392,2.300749,16.315287,-1.000000,-1.000000,False,True,True,False,6392
6393,-1.000000,-1.000000,-1.000000,-1.000000,False,True,True,False,6393
6394,40.372272,16.314571,-1.000000,-1.000000,False,True,True,False,6394

In [105]:
# Are there data we don't care about?
df.drop(df[df['Dead'] == True].index, inplace=True)
df = df.drop(["Grounded", "Dead", "Scored"], inplace=False, axis=1)
df

      Bar 1 Distance  Bar 1 Speed  Bar 2 Distance  Bar 2 Speed   Jump  Index
6          39.841648    16.293358       54.819611    16.459723  False      6
7          35.498672    16.293358       50.432281    16.459723  False      7
8          31.420794    16.293358       46.312759    16.459723  False      8
9          27.081730    16.293358       41.929390    16.459723  False      9
10         22.999084    16.293358       37.805058    16.459723  False     10
...              ...          ...             ...          ...    ...    ...
6384       20.792389    16.314571       35.746712    16.315287  False   6384
6385       16.462187    16.314571       31.416317    16.315287  False   6385
6386       12.370199    16.314571       27.324150    16.315287  False   6386
6387        8.285727    16.314571       23.239498    16.315287  False   6387
6388        4.207789    16.314571       19.161383    16.315287  False   6388

[5935 rows x 6 columns]

In [106]:
jumpCount = df[df['Jump'] == True].shape[0]
jumpCount

652

In [107]:
noJumpCount = df[df['Jump'] == False].shape[0]
noJumpCount

5283

In [108]:
df_toDrop = df[df['Jump'] == False].sample(noJumpCount - jumpCount)
df.drop(df_toDrop.index, inplace=True)

In [109]:
# Create the Input DataFrame
X = df[['Bar 1 Distance', 'Bar 1 Speed', 'Bar 2 Distance', 'Bar 2 Speed']]
X = X.to_numpy()

In [110]:
# Create the Output DataFrame and Map True / False to 1 / 0
Y = df[['Jump']]

def bool2Num(row):
    if row['Jump']:
        return 1
    else:
        return 0

Y['Jump'] = Y.apply(bool2Num, axis='columns')
Y = Y['Jump'].to_numpy()

/tmp/ipykernel_1218930/808815421.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y['Jump'] = Y.apply(bool2Num, axis='columns')

In [111]:
# Train Test Split with test size set to 20%
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [112]:
from sklearn.linear_model import LogisticRegression

# Define and Build Model (Logistic Regression)
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier()

In [113]:
predict = model.predict(x_test)

In [114]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [115]:
# Print Out Prediction Accuraccy
accuracy_score(y_test, predict)

0.8700696055684455

In [116]:
# Try a Different Model (Random Forest)
"""model2 = ________________________________
model2.__________________________

predict = ___________________________
accuracy_score(_________________, ________________)"""

'model2 = ________________________________\nmodel2.__________________________\n\npredict = ___________________________\naccuracy_score(_________________, ________________)'

# Deployment

In [117]:
# Command to Open SIMPLE ML Jump 2 (for Example)

# Windows OS
#env_path = "D:\\User\\Desktop\\10botics Data Science\\ML Game\\SimpleMLJump2 Builds\\Windows\\Simple ML Jump 2.exe"

# MacOS
#env_path = 'open -n "/Users/billwaa/Desktop/ML Game/Simple ML Jump 2.app"' 

env_path = "/home/wcyat/dev/kaggle/code/ml-jump/Linux/SimpleMLJump2.x86_64"

In [118]:
# Import Libraries
import socket
import struct
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import time
import subprocess
import platform

# Find Open Socket Ports
def findOpenSockets(size:int):

    sock = []
    port = []

    for i in range(size):
        sock.append(socket.socket())
        sock[i].bind(('localhost', 0))
        port.append(sock[i].getsockname()[1])

    for i in range(len(sock)):
        sock[i].close()


    return port


# Find Open Ports and Launch Game Environment
envNum = 1
openPorts = findOpenSockets(envNum * 2)
gamePort = openPorts[0]
apiPort = openPorts[1]

# Determine OS and Launch 
if platform.system() == 'Darwin':
    env_path += f" --args --apiPort {str(apiPort)} --gamePort {str(gamePort)} --small false"
    process = subprocess.Popen([env_path], shell=True)
else:
    process = subprocess.Popen([env_path, '--apiPort', str(apiPort), '--gamePort', str(gamePort), '--small', 'false'])

# Establish UDP Network Client
localIP     = "localhost"
bufferSize  = 1024
UDPServerSocket = socket.socket(family=socket.AF_INET, type=socket.SOCK_DGRAM)
UDPServerSocket.bind((localIP, apiPort))

# Set UDP Timeout
UDPServerSocket.settimeout(3)

# Wait for Game Environment to Open
t0 = time.time()

while(time.time() - t0 < 5):
    pass

# Extract Data
def extractData(data):
    dist1 = struct.unpack('f', data[:4])
    speed1 = struct.unpack('f', data[4:8])
    dist2 = struct.unpack('f', data[8:12])
    speed2 = struct.unpack('f', data[12:16])

    onGround = True if (data[16] & (1 << 0)) == 1 else False
    toJump = True if (data[17] & (1 << 0)) == 1 else False
    isDead = True if (data[18] & (1 << 0)) == 1 else False
    scored = True if (data[19] & (1 << 0)) == 1 else False

    dat = [dist1[0], speed1[0], dist2[0], speed2[0], toJump, onGround, isDead, scored] # Swap Order to Accomadate Old Model
    df_temp = pd.DataFrame(dat).transpose()


    return df_temp

# Reset Simulation
UDPServerSocket.sendto(bytes.fromhex('07 00'), (localIP, gamePort))

2

In [119]:
# Process Loop - Retrieve Data from Simulation, Run Through Model, Output Command
while True:
    try:

        bytesAddressPair = UDPServerSocket.recvfrom(bufferSize)

        t0 = time.time()

        message = bytesAddressPair[0]
        address = bytesAddressPair[1]
        df_temp = extractData(message)
        X = df_temp.iloc[:,:4]
        X = X.astype(float)

        # Data PreProcessing Function Go Here

        # Model Prediction Function Go Here
        predict = model.predict(X)

        print(predict, end='\r')

        # If Jump Decision is Made, Send to Game
        if predict[0] > 0.5:
            # Jump Command
            UDPServerSocket.sendto(bytes.fromhex('06 01'), (localIP, gamePort))


    except Exception as e:
        print(e)
        break

timed out

In [120]:
# Close UDP Port When Game is Closed
UDPServerSocket.close()