This is a quiz that you can apply the pandas skills learned this lesson

your task is to calculate the average price of every building location with transactions since 2015

the output should be sorted by average price from large value to small value

In [15]:
import pandas as pd
properties = pd.read_csv("properties.csv")

/tmp/ipykernel_77647/2950028029.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  properties = pd.read_csv("properties.csv")

In [30]:
since2015 = properties.loc[pd.to_numeric(properties.transaction_date.map(lambda date: date.split("-")[0])) >= 2015]
since2015.head()

,building_unit_type,building_location,building_estate,district,longitude,latitude,building_floor,building_unit,building_net_area,building_gross_area,building_price_hkd,price_per_net_area,price_per_gross_area,transaction_date,change_from_pervious_transaction,date_of_previous_transaction
0,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,A,787,-,1165,"14,806",-,2016-08-25,+86.4%,1996-11-26
2,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,B,624,-,22,352,-,2016-11-28,-96.6%,2011-08-22
13,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,F,716,-,1200,"16,764",-,2017-01-17,+46.3%,2011-03-09
17,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,G,716,-,1380,"19,279",-,2016-10-26,NaN,NaN
23,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,25,D,685,876,1328,"19,398","15,160",2018-03-19,+138.0%,1996-12-17

In [36]:
average = since2015.groupby("building_location")["building_price_hkd"].mean().rename("building_price_hkd_mean")
average.sort_values(ascending=False).to_csv("quiz1.csv")

In [39]:
average = since2015.groupby("building_location")["building_price_hkd"]
average