# Quiz 2

This is a quiz that you can apply the pandas skills learned this lesson

your task to calculated the price of every transaction, standardized by groupings of building location since 2015

https://en.wikipedia.org/wiki/Standardization

example :

for the first record of data,

the buildingpricehkd is 1165 and the building_location is Taikoo Shing

the mean of transaction price for Taikoo Shing is 1152.912151 and
the standard deviation of transaction price for Taikoo Shing is 413.899735

the first value you should return is
(1165 - 1152.912151) / 413.899735 = 0.029205

the output should be ordered by original index value

In [1]:
import pandas as pd
properties = pd.read_csv("properties.csv")
properties.head()

/tmp/ipykernel_320395/3754286840.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  properties = pd.read_csv("properties.csv")

,building_unit_type,building_location,building_estate,district,longitude,latitude,building_floor,building_unit,building_net_area,building_gross_area,building_price_hkd,price_per_net_area,price_per_gross_area,transaction_date,change_from_pervious_transaction,date_of_previous_transaction
0,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,A,787,-,1165,"14,806",-,2016-08-25,+86.4%,1996-11-26
1,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,A,787,-,625,"7,943",-,1996-11-26,NaN,NaN
2,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,B,624,-,22,352,-,2016-11-28,-96.6%,2011-08-22
3,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,B,624,-,647,"10,360",-,2011-08-22,+7.8%,1997-04-14
4,B000000014,Taikoo Shing,Fu Tien Mansion,EST,114.2175,22.2871,26,B,624,-,600,"9,611",-,1997-04-14,+25.0%,1996-11-26

In [2]:
filtered = properties.loc[properties.transaction_date.map(
    lambda date: int(date.split("-")[0]) >= 2015)]
mean = filtered.groupby(["building_location"])["building_price_hkd"].mean()
dev = filtered.groupby(["building_location"])["building_price_hkd"].std()

get mean of the building_location as in the first building

In [3]:
arr = []
for i in range(len(filtered)):
    row = filtered.iloc[i]
    value = (row.building_price_hkd -
             mean[row.building_location]) / dev[row.building_location]
    arr.append(value if not pd.isna(value) else 0)
    if pd.isna(value):
        print(row.building_location, row.building_price_hkd,
              mean[row.building_location], dev[row.building_location])

pd.Series(arr, name="building_price_hkd_standardized",
          ).to_csv("quiz2.csv")
# filtered.loc[:, ["building_price_hkd", "building_location"]].applymap(
#  lambda x: (filter.building_price_hkd - mean[x.building_location]) / dev[x.building_location])

The Lodge 465 465.0 nan
The Morning Glory 1155 1155.0 nan

In [4]:
arr[22292]

0